/* General Reset and Font */
* {
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
}
body {
	font-size: 20px; 
	font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #1d1d1f;
}
/*Fivth Highlight Section */
.fifth-heghlight-wrapper {
	display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: #fff;
}
.fifth-heghlight-wrapper .left-side-wrapper {
	background-image:  url("../images/home/apple-tv-background.jpg"); 
}
.fifth-heghlight-wrapper .right-side-wrapper {
	background-image:  url("../images/home/air-pods.jpg"); 
	color: #fff; 
	background-size: initial;
	background-color: #000;
	background-position: bottom;
}
.logo-wrapper {
	font-size: 40px;
	font-weight: bold;
}
.tvshow-logo-wraper {
	padding: 180px 0 200px;
}
.watch-more-wrapper a {
	text-decoration: none;
	font-size: 0.85em;
}
.watch-more-wrapper a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f144";
  padding-left: 15px;
}




























